.layout {
  display: flex;
  min-height: 100vh;
  .content {
    flex-grow: 1;
    border-radius: 5px;
    overflow-y: auto;
    height: 100vh;
    overflow-x: hidden;
    padding: 10px 10px;
    @media screen and (max-width: 800px) {
      padding-left: calc(70px + 1rem);
    }
  }
}
