.layout {
  display: flex;
  min-height: 100vh;
  padding: 5px;
  gap: 0.5rem;
  .content {
    flex-grow: 1;
    border-radius: 5px;
    overflow-y: auto;
    margin-left: 70px;
    &.nav_expanded {
      margin-left: 250px;
      @media screen and (max-width: 600px) {
        margin-left: 70px;
      }
    }
  }
}
