@import "../styles/themes";

.navbar {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  height: calc(100vh - 20px);
  align-self: flex-start;
  z-index: 5;
  @include theme() {
    background-color: theme-get("bg-color-nv");
    color: theme-get("text-color-nv");
  }
  border-radius: 5px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: calc(50px + 1rem);
  transition: all 300ms ease-in-out;
  &.expanded {
    transition: all 300ms ease-in-out;
    width: 28rem;
    .toggle {
      svg {
        transition: all 0.15s ease-in-out;
        transform: rotate(180deg);
      }
    }
  }
  .active {
    background-color: rgba(255, 255, 255, 0.2);
  }
  .toggle {
    height: 40px;
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    svg {
      transition: all 0.15s ease-in-out;
    }
    span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 40px;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
  }
  .user {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 0.5rem;
    .toggle_theme {
      display: flex;
      height: 40px;
      border-radius: 5px;
      border: solid 0.5px rgba(226, 226, 226, 0.5);
      .toogleoption {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        gap: 0.2rem;
        font-size: 0.9rem;
        font-weight: bold;
        height: 100%;
        align-items: center;
        border-radius: 4px;
      }
      .optionactive {
        background-color: rgba(226, 226, 226, 0.5);
      }
    }
    .user_options {
      display: flex;
      flex-direction: column;
      width: 100%;
      border-radius: 5px 5px 0px 0px;
      div {
        display: flex;
        align-items: center;
        height: 0rem;
        overflow: hidden;
        transition: all 0.15s ease-in-out;
        white-space: nowrap;
      }
      .showuseroptions {
        height: 40px;
        border-top: solid 0.5px rgba(255, 255, 255, 0.75);
        padding: 10px;
        transition: all 0.15s ease-in-out;
        &:hover {
          border: none;
          border-radius: 5px;
          transition: all 0.15s ease-in-out;
          background-color: rgba(255, 255, 255, 0.2);
        }
      }
    }
    .user_data {
      height: 40px;
      display: flex;
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 5px;
      padding-left: 10px;
      gap: 0.5rem;
      position: relative;
      .drop_user_options {
        position: absolute;
        width: 40px;
        height: 40px;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .img {
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        padding: 5px 0px;
        span {
          display: block;
          height: 100%;
          width: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          background-color: white;
          @include theme() {
            color: theme-get("bg-color-nv");
          }
        }
      }
      .info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        span {
          font-size: 0.8rem;
          max-width: 9rem;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }
    }
  }
  div {
    .modulo {
      font-size: 1.3rem;
      cursor: pointer;
      white-space: nowrap;
      border-radius: 5px;
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      height: 40px;
      .icon_modulo {
        height: 100%;
        display: flex;
        flex-shrink: 0;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        width: 50px;
      }
      .icon_modulo_drop {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        margin-left: auto;
        transition: all 0.15s ease-in-out;
      }
      .icon_rotate {
        transition: all 0.15s ease-in-out;
        transform: rotate(180deg);
      }
      .modulo_name {
        flex-grow: 1;
      }
    }
    ul {
      display: flex;
      flex-direction: column;
      li {
        height: 0rem;
        overflow: hidden;
        list-style: none;
        cursor: pointer;
        padding-left: 50px;
        transition: all 0.15s ease-in-out;
        &:hover {
          color: rgba(255, 255, 255, 0.5);
        }
      }
      .showsubmenuitem {
        height: 30px;
        display: flex;
        align-items: center;
        transition: all 0.15s ease-in-out;
        border-radius: 5px;
        
      }
    }
  }
  .hidden {
    display: none;
  }
  @media screen and (max-width: 800px) {
    position: fixed;
    &.expanded {
      transition: all 300ms ease-in-out;
      width: 20rem;
    }
  }
}
