@import "../../../styles/themes";

/*DATATABLE*/
.container_table {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-width: 100%;
  transition: 200ms ease-out all;
  .table_header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    .filters {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      // width: 100%;
    }
    .sucursales {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      border: solid 1px rgba(226, 226, 226, 0.5);
      border-radius: 5px;
      span {
        display: flex;
        height: 100%;
        align-items: center;
        padding: 5px;
        border-right: solid 1px rgba(226, 226, 226, 0.5);
        font-size: 0.9rem;
        font-weight: 600;
      }
      select {
        outline: none;
        height: 40px;
        border: none;
        max-width: 10rem;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        padding-left: 5px;
      }
    }
  }
}

/*CREATE - EDITABLE*/
.container_form {
  width: 100%;
  overflow: hidden;
  min-width: 100%;
  transition: 200ms ease-out all;
  .form {
    max-width: 40rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .btns {
    padding-top: 1rem;
    display: flex;
    gap: 0.5rem;
    max-width: 40rem;
    margin: auto;
    justify-content: flex-end;
    button {
      height: 40px;
      padding: 10px;
      text-transform: uppercase;
      font-weight: 600;
      cursor: pointer;
      border-radius: 5px;
      &.clean {
        background-color: #beb20a;
        border: 1px solid rgba(226, 226, 226, 0.5);
        color: #fff;
      }
      &.done {
        background-color: #1b884e;
        border: 1px solid rgba(226, 226, 226, 0.5);
        color: #fff;
      }
      &.editar {
        background-color: #1b884e;
        border: 1px solid rgba(226, 226, 226, 0.5);
        color: #fff;
      }
    }
  }
}
