@import "../../../styles/themes";

/*DATATABLE*/
.container_table {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-width: 100%;
  transition: 200ms ease-out all;
  .table_header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    .filters {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      // width: 100%;
    }
    .sucursales {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      border: solid 1px rgba(226, 226, 226, 0.5);
      border-radius: 5px;
      span {
        display: flex;
        height: 100%;
        align-items: center;
        padding: 5px;
        border-right: solid 1px rgba(226, 226, 226, 0.5);
        font-size: 0.9rem;
        font-weight: 600;
      }
      select {
        outline: none;
        height: 40px;
        border: none;
        max-width: 10rem;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        padding-left: 5px;
      }
    }
  }
}

/*CREATE - EDITABLE*/
.container_form {
  width: 100%;
  overflow: hidden;
  min-width: 100%;
  transition: 200ms ease-out all;
  margin-bottom: 0.5rem;
  .form {
    max-width: 40rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    .input_group {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      div {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        position: relative;
        label {
          font-size: 1rem;
        }
        input,
        select {
          outline: none;
          border: none;
          padding: 0px 15px;
          height: 35px;
          border-radius: 5px;
          border: solid 1px rgba(226, 226, 226, 0.5);
          width: 100%;
        }
        span {
          color: red;
          font-size: 0.6rem;
          text-transform: uppercase;
          font-weight: 600;
          position: absolute;
          right: 0;
          top: 100%;
        }
      }
    }
    .router_user {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      .section {
        display: flex;
        flex: 1 1 15rem;
        display: flex;
        flex-direction: column;
        .title {
          display: flex;
          align-items: center;
          width: 100%;
          gap: 0.5rem;
          div {
            height: 1px;
            background-color: rgba(226, 226, 226, 0.5);
            flex-grow: 1;
            display: flex;
            align-items: center;
          }
        }
        ul {
          padding: 0rem;
          margin: 0rem;
          list-style: none;
          li {
            display: flex;
            gap: 0.5rem;
            user-select: none;
            height: 30px;
            label {
              align-self: flex-end;
              padding-bottom: 0.1rem;
            }
          }
        }
      }
    }
  }
  .btns {
    padding-top: 1rem;
    display: flex;
    gap: 0.5rem;
    margin: auto;
    width: 100%;
    justify-content: flex-end;
    button {
      height: 40px;
      padding: 10px;
      text-transform: uppercase;
      font-weight: 600;
      cursor: pointer;
      border-radius: 5px;
      &.clean {
        background-color: #beb20a;
        border: 1px solid rgba(226, 226, 226, 0.5);
        color: #fff;
      }
      &.done {
        background-color: #1b884e;
        border: 1px solid rgba(226, 226, 226, 0.5);
        color: #fff;
      }
      &.editar {
        background-color: #1b884e;
        border: 1px solid rgba(226, 226, 226, 0.5);
        color: #fff;
      }
    }
  }
}
