@import "../../../styles/themes";

/*DATATABLE*/
.container_table {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-width: 100%;
  transition: 200ms ease-out all;
  .table_header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .filters {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
    }
  }
}

/*CREATE - EDITABLE*/
.container_form {
  width: 100%;
  overflow: hidden;
  min-width: 100%;
  transition: 200ms ease-out all;
  .form {
    max-width: 40rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
