@import "../styles/themes";

.table {
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
  border-radius: 10px;

  th,
  td {
    padding: 10px;
    text-align: left;
  }
  tr:hover {
    background-color: red;
    cursor: pointer;
  }
  th {
    font-weight: bold;
    text-transform: uppercase;
    cursor: default;
    @include theme() {
      background-color: theme-get("bg-color-tb");
    };
    background-color: red;
    &:first-child{
        border-radius: 5px 0px 0px 0px;
    }
    &:last-child {
        border-radius: 0px 5px 0px 0px;
    }
  }
}
