.navbar {
  background-color: blue;
  border-radius: 10px;
  padding: 1rem;
  div {
    span {
      font-size: 1.3rem;
      cursor: pointer;
    }
    ul {
      li {
        height: 0rem;
        overflow: hidden;
        list-style: none;
        padding-left: 10px;
        transition: all 0.15s ease-in-out;
      }
      .showsubmenuitem {
        height: 20px;
        transition: all 0.15s ease-in-out;
    }
    }
  }
}
