@import 'variables';

$themes: (
  dark: (
    "text-color": $color-text-dark,
    "bg-color": $color-bg-dark,
    /*NAVBAR*/
    "bg-color-nv": $color-bg-dark-nv,
    "text-color-nv": $color-text-dark-nv,
    /*Tabs*/
    "bg-color-tb": $color-bg-dark-tb,
    "bg-color-select-tb": $color-select-bg-dark-tb,
    "bg-color-boder-tb": $color-border-dark-tb
  ),
  light: (
    "text-color": $color-text-light,
    "bg-color": $color-bg-light,
    /*NAVBAR*/
    "bg-color-nv": $color-bg-light-nv,
    "text-color-nv": $color-text-light-nv,
    /*Tabs*/
    "bg-color-tb": $color-bg-light-tb,
    "bg-color-select-tb": $color-select-bg-light-tb,
    "bg-color-boder-tb": $color-border-light-tb
  ),
);

@mixin theme() {
  @each $theme, $map in $themes {
    $theme-map: $map !global;
    :global(.#{$theme}) & {
      @content;
    };
  }
  $theme-map: null !global;
}

@mixin themeg() {
  @each $theme, $map in $themes {
    $theme-map: $map !global;
    .#{$theme} & {
      @content;
    }
  }
  $theme-map: null !global;
}


@function theme-get($key) {
  @return map-get($theme-map, $key);
}
