/* Light Theme Colors */
/*NavBar*/
$color-bg-light-nv: rgb(0, 89, 255);
$color-text-light-nv: white;
/*Tabs*/
$color-bg-light-tb: rgba(219, 219, 219, 0.2);
$color-select-bg-light-tb: white;
$color-border-light-tb: rgba(226, 226, 226, 0.5);

/*-----------------------*/
/* Dark Theme Colors */
/*NavBar*/
$color-bg-dark-nv: black;
$color-text-dark-nv: white;
/*Tabs*/
$color-bg-dark-tb: rgba(255, 255, 255, 0.2);
$color-select-bg-dark-tb: black;
$color-border-dark-tb: transparent;
/*-----------------------*/
